<h1>ALL YOUR JUCY SECRETS</h1>
<% @secrets.each do |secret| %>
	<p><%= secret.content %></p>
	<p><%= secret.likes.count %> likes</p>

		<% if secret.users_liked.include?(current_user) %>
		<div id = 'unlike'>
			<form action='/likes/<%=secret.find_like_id(current_user)%>' method='post'>
			    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			    <input type="hidden" name="_method" value="delete">
			    <input type='submit' value='Unlike'>
			</form>
		</div>
	<% else %>
		<div id = 'like'>
			<form action='/likes' method='post'>
			    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			    <input type='hidden' name='like[secret_id]' value='<%= secret.id %>'>
			    <input type='hidden' name='like[user_id]' value='<%= current_user.id %>'>
			    <input type='submit' value='Like'>
			</form>
		</div>
	<% end %>
	<% if current_user == secret.user %>
		<form action='/secrets/<%= secret.id %>' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" name="_method" value="delete">
			<input type='submit' value='Delete' /><br>
		</form>
	<% end %>
<% end %>
